@charset "UTF-8";
/* Size */
* {
  box-sizing: border-box;
  color: white;
}

html, body {
  height: 100%;
  position: relative;
}

body {
  overflow: hidden;
}

button {
  border: none;
  padding: 0;
}

li {
  list-style: none;
}

i {
  display: flex;
  font-size: 1rem;
  color: #b3b3b3;
}

/* 일괄 적용 */
.fa-solid--green {
  color: #1db954;
}

.horizonBars:hover {
  background-color: #1db954;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.card {
  max-width: 188px;
  max-height: 266px;
  margin-right: 25px;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card:hover {
  background-color: #282828;
}
.card--horizon {
  max-width: 614px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
  background-color: transparent;
  transition: background-color 0.3s;
}
.card--horizon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.card__img {
  width: 156px;
  height: 156px;
}
.card__img--horizon {
  width: 80px;
  height: 80px;
}
.card__textArea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card__textArea--horizon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  font-weight: 700;
}
.card__play {
  width: 48px;
  height: 48px;
  background-color: #1db954;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card__play i {
  font-size: 24px;
  color: #000;
}
.card__text {
  width: 156px;
  height: 62px;
}
.card__text--horizon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card__mainText {
  color: #fff;
}
.card__subText {
  color: #b3b3b3;
}

/* BEM Block(Common) */
.horizonBar {
  background-color: #282828;
  border: 0;
  height: 1px;
  margin: 24px;
}

.profile {
  width: 90px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10rem;
}
.profile__avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #b3b3b3;
}
.profile__avatar i {
  font-size: 22px;
  height: 26px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.profile__name {
  font-weight: 700;
}
.profile__menu {
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.7);
}
.profile__menu i {
  color: #fff;
  display: flex;
}

.prevAndNextBtns {
  width: 96px;
  height: 32px;
  margin-left: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.prevAndNextBtns__prev {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
.prevAndNextBtns__prev i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.prevAndNextBtns__next {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
.prevAndNextBtns__next i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.boxes {
  margin: 1.2em;
  grid-area: main-view;
  position: relative;
}
.boxes__bgBox {
  width: 100%;
  height: 332px;
  background-color: #5028f0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), url("../../imgs/bgnoise.svg");
  position: absolute;
  top: 0;
  left: -16px;
  margin-top: -84px;
}
.boxes__gridContainer {
  display: grid;
  grid-gap: 24px;
  padding: 0 32px;
}

.box {
  width: 90vw;
  max-width: 1891px;
  height: 316px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.box--horizon {
  margin-top: 0;
  height: 234px;
  position: relative;
}
.box__cardsContainer {
  display: flex;
}
.box__cardsContainer--horizon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1891px;
  height: 234px;
}

.songInfo {
  max-width: 300px;
  height: 56px;
  margin: 1.5rem;
  display: flex;
  align-items: center;
}
.songInfo__albumCover {
  width: 56px;
  height: 56px;
}
.songInfo__textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0.8em;
}
.songInfo__artist {
  color: #b3b3b3;
}
.songInfo__pip {
  margin: 0 0.8em;
}

.playBack {
  width: 30%;
  max-width: 722px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* upperBox */
  /* lowerBox */
}
.playBack__upperBox {
  width: 70%;
  min-width: 200px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playBack__playAndPause {
  width: 32px !important;
  height: 32px !important;
  background-color: #fff !important;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.playBack__playAndPause:hover {
  transform: scale(1.1);
}
.playBack__playAndPause i {
  color: #000;
}
.playBack__playAndPause i:hover {
  color: #000;
}
.playBack__lowerBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 12px;
}
.playBack__timeline {
  width: 100%;
  height: 4px;
  background-color: #b3b3b3;
  margin: 0 8px;
}
s .playBack__timeFont {
  color: #b3b3b3;
}

/* rightListeningOptions */
.listeningOptions {
  width: 300px;
  height: 56px;
  background-color: #181818;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.listeningOptions__volumeBar {
  width: 93px !important;
  height: 3px !important;
  background-color: #b3b3b3 !important;
  margin-left: -12px;
}

/********* footer - playbackPanel *********/
.footer {
  width: 100%;
  height: 96px;
  background-color: #181818;
  position: fixed;
  bottom: 0px;
  grid-area: now-playing-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* footer 일괄 적용 */
}
.footer__btns {
  width: 1rem;
  height: 1rem;
  display: flex;
  background-color: #181818;
}
.footer__btns i:hover {
  color: #fff;
}

.main {
  height: 100%;
  display: grid;
  overflow: auto;
  position: relative;
  grid-template-areas: "nav-bar main-view" "now-playing-bar now-playing-bar";
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
}
.main .mainViewContainer {
  width: 100%;
  height: 3000px;
  background-color: #121212;
  position: absolute;
  left: 300px;
}

/********  nav ********/
.nav {
  width: 300px;
  height: 100%;
  background-color: #000;
  grid-area: nav-bar;
  position: fixed;
}
.nav__logo {
  width: 100%;
  height: 65px;
  margin: 1.5em 0;
  padding: 0 1.5em;
  cursor: pointer;
}
.nav__logoImg {
  max-width: 80%;
  max-height: 100%;
}
.nav__upperMenu, .nav__lowerMenu {
  margin: 1.5em 0;
  padding: 0 1.5em;
}
.nav__li {
  margin: 1.5em 0;
  color: #b3b3b3;
  cursor: pointer;
}
.nav__li:hover {
  color: #fff;
}
.nav__li i {
  margin-right: 12px;
  color: inherit;
}
.nav__li:nth-child(4) {
  margin-top: 60px;
}

/********* header *********/
.header {
  width: 100%;
  height: 64px;
  position: relative;
  z-index: 2;
  grid-area: main-view;
}
.header__div {
  width: 90%;
  height: 64px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/*# sourceMappingURL=main.css.map */
