// 반응형을 위한 @media query
@use 'variables' as *;

$breakpoints:(
  small: 40em,
  medium: 65em,
  large: 80em
);

@mixin flexForAlign($mainAxis: center, $crossAxis: center, $direction:row){
  display: flex;
  justify-content: $mainAxis;
  align-items: $crossAxis;
  flex-direction: $direction;
}

@mixin mobile{
  @media (max-width: map-get($breakpoints, "small")){
    @content;
  }
}

@mixin tablet{
  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet){
    @content;
  }
}

@mixin desktop{
  @media (min-width: $breakpoint-desktop){
    @content;
  }
}