// Sass에서 $-로 시작하는 변수는 prvate 변수다.

$breakpoint-mobile : 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// Color
$color-nav: #000;
$color-mainWhite : #fff;
$color-subGrey : #b3b3b3;
$color-body : #121212;
$color-footer: #181818;
$color-clickesGreen : #1db954;
$color-hover : #fff;

// weight
$weight-font-h1 : 800;
$weight-font-h2 : 700;

 /* Size */
$size-font-h1 : 2rem;
$size-font-h2 : 1.5rem;
$size-btns-icons :1rem;

// layouts
$size-nav-width : 300px;
$size-nav-margin : 1.5em 0;
$size-nav-padding : 0 1.5em;

$size-header-height : 64px;

$size-body-margin: 1.2em;

$size-footer-divs-height: 56px;
$size-footer-songInfo-margin : 0 0.8em;
$size-footer-playback-height : 96px;
$size-footer-btns-width: 1rem;
$size-footer-btns-height: 1rem;
$size-footer-albumCover-width: 56px;
$size-footer-albumCover-height: 56px;

// components

$size-box-width : 1891px;
$size-box-height : 316px;
$size-box-height--horizon : 234px;

$size-songinfo-width: 300px;

$size-playback-width: 722px;
$size-playback-upperBox-width: 200px;

$size-card-width: 188px;
$size-card-height: 266px;
$size-card-horizon-width: 614px;
$size-card-horizon-height: 80px;