$colors: (
  primary: (
    100 : hsl(14, 100%, 80%),
    200 : hsl(14, 100%, 70%),
    300 : hsl(14, 100%, 60%),
  ),
  article: (
    100: hsl(219, 89%, 80%),
    200: hsl(219, 89%, 70%),
    300: hsl(219, 89%, 60%),
  ),
  youtube: (
    100: hsl(345, 88%, 80%),
    200: hsl(345, 88%, 70%),
    300: hsl(345, 88%, 60%),
  )
)