@use '../abstracts' as *;

// @components
// left -> songInfo
// middle -> playback
// right -> listeningOptions

/********* footer - playbackPanel *********/
.footer{
  width: 100%;
  height: $size-footer-playback-height;
  background-color:$color-footer;
  position: fixed;
  bottom:0px;
  grid-area: now-playing-bar;
  @include flexForAlign(space-between,center);

  /* footer 일괄 적용 */
  &__btns{
    width: $size-footer-btns-width;
    height: $size-footer-btns-height;
    display: flex;
    background-color: $color-footer;
    & i:hover{
      color: $color-hover;
    }
  }
} 

