@use '../abstracts/' as *;

// @components
// prevAndNextBtns
// profile

/********* header *********/
.header{
  width: 100%;
  height: $size-header-height;
  position: relative;
  z-index: 2;
  // background: rgb(33,18,94);
  // background: radial-gradient(circle, rgba(33,18,94,1) 0%, rgba(18,18,18,1) 100%);
  grid-area: main-view;

  &__div{
    width: 90%;
    height: 64px;
    padding: 16px 32px;

    @include flexForAlign(space-between, center);
  }
}