@use '../abstracts/' as *;

// @components
// prevAndNextBtns
// profile

/********* header *********/
.header{
  width: 100%;
  height: $size-header-height;
  background: rgb(33,18,94);
  background: radial-gradient(circle, rgba(33,18,94,1) 0%, rgba(18,18,18,1) 100%);
  &__div{
    height: 64px;
    @include flexForAlign(space-between, center);

  }

  &__container{
    margin:$size-body-margin;
  }

  &__title{

  }

  &__horizonBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1891px;
    height: 234px;
  }
}