// 반응형을 위한 @media query
@use 'variables' as *;

$breakpoints:(
  small: 40em,
  medium: 65em,
  large: 90em
);

@mixin flexForAlign($mainAxis: center, $crossAxis: center, $direction:row){
  display: flex;
  justify-content: $mainAxis;
  align-items: $crossAxis;
  flex-direction: $direction;
}

@mixin mq($key){
  $size: map-get($breakpoints, $key);

  @media only screen and (min-width: $size){
    @content;
  }
}