// Color
$--color-nav: #000;
$color-subGrey : #b3b3b3;
$--color-body : #121212;
$--color-footer: #181818;
$color-clickesGreen : #1db954;

 /* Size */
$--size-nav-Margin : 24px 0;
$--size-nav-Padding : 0 24px;