@use '../abstracts/' as *;

.profile{
  width: 90px;
  height: 28px;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10rem;
  &__avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $color-subGrey;
    & i{
      font-size:22px;
      height: 26px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color:$color-mainWhite;
    }
  }
  
  &__name{
    font-weight: 700;
  }

  &__menu{
    width: 16px;
    height: 16px;
    background-color: rgba(0,0,0,0.7);
    & i{
      color:$color-mainWhite;
      display: flex;
    }
  }
}