@use '../abstracts/' as *;

.songInfo{
  max-width: $size-songinfo-width;
  height: $size-footer-divs-height;
  margin: 1.5rem;
  display: flex;
  align-items: center;
  &__albumCover{
    width: $size-footer-albumCover-width;
    height: $size-footer-albumCover-height;
  }

  &__textBox{
    @include flexForAlign(center, $direction : column);
    margin : $size-footer-songInfo-margin;
  }

  &__artist{
    color: $color-subGrey;
  }
  
  &__pip{
    margin : $size-footer-songInfo-margin;
  }
}