@use '../abstracts/' as *;
// @forward '../abstracts/variables';

* {
  box-sizing: border-box;
  color:white;
}

html, body{
  height: 100%;
  position: relative;
}
body{
  overflow: hidden;
}

button{
  border: none;
  padding: 0;
}

li{
  list-style: none;
}

i {
  display: flex;
  font-size: $size-btns-icons;
  color:$color-subGrey;
}

/* 일괄 적용 */
.fa-solid--green{
  color: $color-clickesGreen;
}

.horizonBars:hover{
  background-color: $color-clickesGreen;
}

@media screen and (min-width: 1080px){
  // :root{
  //   $size-btns-icons : 4rem;
  // }
  $size-btns-icons : 2rem;
}
