@charset "UTF-8";
* {
  box-sizing: border-box;
  color: white;
}

html, body {
  height: 100%;
  position: relative;
}

body {
  overflow: hidden;
}

button {
  border: none;
  padding: 0;
}

li {
  list-style: none;
}

i {
  display: flex;
  font-size: var(--size-btns-icons);
  color: var(--color-subGrey);
}

/* 일괄 적용 */
.fa-solid--green {
  color: var(--color-clickesGreen);
}

.horizonBars:hover {
  background-color: var(--color-clickesGreen);
}

html {
  font-size: 16px;
}

h1 {
  font-size: var(--size-font-h1);
  font-weight: var(--weight-font-h1);
}

h2 {
  font-size: var(--size-font-h2);
  font-weight: var(--weight-font-h2);
}

:root {
  --color-mainWhite: #fff;
  --color-subGrey: #b3b3b3;
  --color-nav: #000;
  --color-body: #121212;
  --color-footer: #181818;
  --color-clickesGreen: #1db954;
  --color-hover: #fff;
  --color-box-bg: rgb(80, 40, 240);
  --color-box-bg-gradient: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%),url("../../imgs/bgnoise.svg");
  --weight-font-h1: 800;
  --weight-font-h2: 700;
  /* fonts */
  --size-font-h1: 2rem;
  --size-font-h2: 1.5rem;
  --font-size-small: 1rem;
  --font-size-medium: 2rem;
  --font-size-large: 4rem;
  --size-header-height: 64px;
  --size-body-margin: 1.2em;
  --size-footer-divs-height: 56px;
  --size-footer-songInfo-margin: 0 0.8em;
  --size-footer-playback-height: 6rem;
  --size-footer-btns-width: 1rem;
  --size-footer-btns-height: 1rem;
  --size-footer-albumCover-width: 56px;
  --size-footer-albumCover-height: 56px;
  --size-box-maxWidth:1891px;
  --size-box-width: 70vw;
  --size-box-height: 316px;
  --size-box-height--horizon: 234px;
  --size-songinfo-width: 300px;
  --size-playback-width: 722px;
  --size-playback-upperBox-width: 200px;
  --size-card-width: 188px;
  --size-card-height: 266px;
  --size-card-horizon-width: 614px;
  --size-card-horizon-height: 80px;
  --size-nav-width: 300px;
  --size-nav-margin: 1.5em 0;
  --size-nav-padding: 0 1.5em;
  --size-btns-icons: 1rem;
}
@media only screen and (min-width: 90em) {
  :root {
    --size-nav-width: 400px;
    --size-btns-icons: 2rem;
    --font-size-small: 2rem;
    --font-size-medium: 3rem;
    --font-size-large: 5rem;
  }
}

.card {
  max-width: var(--size-card-width);
  max-height: var(--size-card-height);
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.card:hover {
  background-color: #282828;
}
.card--horizon {
  max-width: var(--size-card-horizon-width);
  max-height: var(--size-card-horizon-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
  background-color: transparent;
  transition: background-color 0.3s;
  margin-right: 1.5rem;
  padding: 0;
}
.card--horizon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.card__img {
  max-width: 156px;
  max-height: 156px;
}
.card__img--horizon {
  width: 80px;
  height: 80px;
}
.card__textArea {
  max-width: 100%;
  max-height: 100%;
  margin-top: 1rem;
}
.card__textArea--horizon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  font-weight: 700;
  margin-top: 0;
}
.card__play {
  width: 48px;
  height: 48px;
  background-color: var(--color-clickesGreen);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card__play i {
  font-size: 24px;
  color: #000;
}
.card__text {
  width: 156px;
  height: 62px;
}
.card__text--horizon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card__mainText {
  font-weight: var(--weight-font-h1);
  font-size: 1.2rem;
  color: var(--color-mainWhite);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4px;
}
.card__subText {
  color: var(--color-subGrey);
}

/* BEM Block(Common) */
.horizonBar {
  background-color: #282828;
  border: 0;
  height: 1px;
  margin: 24px;
}

.profile {
  width: 90px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: calc(90px - 2rem);
}
.profile__avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--color-subGrey);
}
.profile__avatar i {
  font-size: 22px;
  height: 26px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-mainWhite);
}
.profile__name {
  font-weight: 700;
}
.profile__menu {
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.7);
}
.profile__menu i {
  color: var(--color-mainWhite);
  display: flex;
}

.prevAndNextBtns {
  width: 96px;
  height: 32px;
  margin-left: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.prevAndNextBtns__prev {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
.prevAndNextBtns__prev i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.prevAndNextBtns__next {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
.prevAndNextBtns__next i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.boxes {
  margin: var(--size-body-margin);
  grid-area: main-view;
  position: relative;
}
.boxes__background-Box {
  width: 100%;
  height: 332px;
  background-color: var(--color-box-bg);
  background-image: var(--color-box-bg-gradient);
  position: absolute;
  top: 0;
  left: -1rem;
  margin-top: calc((var(--size-header-height) + 1rem) * -1);
}
.boxes__gridContainer {
  display: grid;
  grid-gap: 1.5rem;
  padding: 0 2rem;
}

.box {
  width: var(--size-box-width);
  max-width: var(--size-box-maxWidth);
  height: var(--size-box-height);
  min-width: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.box--horizon {
  height: var(--size-box-height--horizon);
  position: relative;
}
.box__cardsContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 80%;
  flex: 1;
}
.box__cardsContainer--horizon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: var(--size-box-width);
  max-width: var(--size-box-maxWidth);
  max-height: var(--size-box-height--horizon);
  gap: 0;
}

.songInfo {
  max-width: var(--size-songinfo-width);
  height: var(--size-footer-height);
  margin: 1.5rem;
  display: flex;
  align-items: center;
}
.songInfo__albumCover {
  width: var(--size-footer-albumCover-width);
  height: var(--size-footer-albumCover-height);
}
.songInfo__textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--size-footer-songInfo-margin);
}
.songInfo__artist {
  color: var(--color-subGrey);
}
.songInfo__pip {
  margin: var(--size-footer-songInfo-margin);
}

.playBack {
  width: 30%;
  max-width: var(--size-playback-width);
  height: var(--size-footer-divs-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* upperBox */
  /* lowerBox */
}
.playBack__upperBox {
  width: 70%;
  min-width: var(--size-playback-upperBox-width);
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playBack__playAndPause {
  width: 32px !important;
  height: 32px !important;
  background-color: #fff !important;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.playBack__playAndPause:hover {
  transform: scale(1.1);
}
.playBack__playAndPause i {
  color: #000;
}
.playBack__playAndPause i:hover {
  color: #000;
}
.playBack__lowerBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 12px;
}
.playBack__timeline {
  width: 100%;
  height: 4px;
  background-color: var(--color-subGrey);
  margin: 0 8px;
}
s .playBack__timeFont {
  color: var(--color-subGrey);
}

/* rightListeningOptions */
.listeningOptions {
  width: 300px;
  height: var(--size-footer-divs-height);
  background-color: var(--color-footer);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.listeningOptions__volumeBar {
  width: 93px !important;
  height: 3px !important;
  background-color: var(--color-subGrey) !important;
  margin-left: -12px;
}

/********* footer - playbackPanel *********/
.footer {
  width: 100%;
  height: var(--size-footer-playback-height);
  background-color: var(--color-footer);
  position: fixed;
  bottom: 0px;
  grid-area: now-playing-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* footer 일괄 적용 */
}
.footer__btns {
  width: var(--size-footer-btns-width);
  height: var(--size-footer-btns-height);
  display: flex;
  background-color: var(--color-footer);
}
.footer__btns i:hover {
  color: var(--color-hover);
}

.main {
  height: 100%;
  display: grid;
  overflow: auto;
  position: relative;
  grid-template-areas: "nav-bar main-view" "now-playing-bar now-playing-bar";
  grid-template-columns: var(--size-nav-width) 1fr;
  grid-template-rows: auto var(--size-footer-playback-height);
}
.main .mainViewContainer {
  width: 100%;
  height: 100%;
  background-color: var(--color-body);
  position: absolute;
  left: var(--size-nav-width);
}

/********  nav ********/
.nav {
  width: var(--size-nav-width);
  height: 100%;
  background-color: var(--color-nav);
  grid-area: nav-bar;
  position: fixed;
}
.nav__logo {
  width: 100%;
  height: 65px;
  margin: var(--size-nav-margin);
  padding: var(--size-nav-padding);
  cursor: pointer;
}
.nav__logoImg {
  max-width: 80%;
  max-height: 100%;
}
.nav__upperMenu, .nav__lowerMenu {
  margin: var(--size-nav-margin);
  padding: var(--size-nav-padding);
}
.nav__li {
  font-size: var(--font-size-small);
  margin: var(--size-nav-margin);
  color: var(--color-subGrey);
  cursor: pointer;
}
.nav__li:hover {
  color: var(--color-hover);
}
.nav__li i {
  margin-right: 12px;
  color: inherit;
}
.nav__li:nth-child(4) {
  margin-top: 60px;
}

/********* header *********/
.header {
  height: var(--size-header-height);
  position: relative;
  z-index: 2;
  grid-area: main-view;
}
.header__div {
  height: 64px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
