@use '../abstracts/' as *;

.card{
  max-width: var(--size-card-width);
  max-height: var(--size-card-height);
  background-color: #181818;
  cursor: pointer;
  @include flexForAlign(center, center, column);
  padding: 1rem;

  &:hover{
    background-color: #282828;
  }

  &--horizon{
    max-width:var(--size-card-horizon-width);
    max-height: var(--size-card-horizon-height);
    @include flexForAlign(center, center, row);
    margin-top:15px;
    background-color: transparent;
    transition: background-color .3s;
    // margin-right:1.5rem;
    padding:0;
    &:hover{
      background-color: rgba(255,255,255,0.2);
    }
  }

  &__img{
    max-width: 156px;
    max-height: 156px;
    &--horizon{
      width: 80px;
      height: 80px;
    }
  }

  &__textArea{
    max-width: 100%;
    max-height: 100%;
    margin-top:1rem;
    // background-color: transparent;
    // @include flexForAlign(center, center);

    &--horizon{
      @include flexForAlign(space-between,center);
      background-color: rgba(255,255,255,0.1);
      padding : 0 10px;
      font-weight: 700;
      margin-top:0;
      flex: 1;
    height: 80px;

    }
  }

  &__play{
    width: 48px;
    height: 48px;
    background-color: var(--color-clickesGreen);
    border-radius: 50%;
    @include flexForAlign(center, center);

    i {
      font-size:24px;
      color:#000;
    }
  }
  &__text{
    width: 156px;
    height: 62px;
    &--horizon{
      @include flexForAlign(center, center);
    }
  }
  
  &__mainText{
    font-weight: var(--weight-font-h1);
    font-size:1.2rem;
    color : var(--color-mainWhite);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 4px;
  }
  &__subText{
    color: var(--color-subGrey);
  }
}