@use '../abstracts' as *;

// @components
// left -> songInfo
// middle -> playback
// right -> listeningOptions

/********* footer - playbackPanel *********/
.footer{
  width: 100%;
  height: var(--size-footer-playback-height);
  background-color:var(--color-footer);
  position: fixed;
  bottom:0px;
  grid-area: now-playing-bar;
  @include flexForAlign(space-between,center);

  /* footer 일괄 적용 */
  &__btns{
    width: var(--size-footer-btns-width);
    height: var(--size-footer-btns-height);
    display: flex;
    background-color: var(--color-footer);
    & i:hover{
      color: var(--color-hover);
    }
  }
} 

