@use '../abstracts/' as *;

/********  nav ********/
.nav{
  width: var(--size-nav-width);
  height: 100%;
  background-color: var(--color-nav);
  grid-area: nav-bar;
  position: fixed;
  &__logo{
    width: 100%;
    height: 65px;
    margin: var(--size-nav-margin);
    padding: var(--size-nav-padding);
    cursor: pointer;  
  }

  &__logoImg{
    max-width: 80%;
    max-height: 100%;
  }

  &__upperMenu,
  &__lowerMenu{
    margin: var(--size-nav-margin);
    padding: var(--size-nav-padding);
  }

  &__li{
    font-size: var(--font-size-small);
    margin:var(--size-nav-margin);
    color:var(--color-subGrey);
    cursor: pointer;

    &:hover{
      color: var(--color-hover);
    }

    & i{
      margin-right: 12px;
      color:inherit;
    }

    &:nth-child(4){
      margin-top:60px;
    }
  }
}
